[Unit]
Description=CS4550 {{ site_name }}

[Service]
Type=simple
User={{ site_name }}
Group={{ site_name }}
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT={{ service_port }}
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/{{ site_name }}/app
ExecStart=/bin/bash /home/{{ site_name }}/app/start.sh

[Install]
WantedBy=multi-user.target
