[submodule "hw01"]
	path = hw01
	url = git@github.com:brianjaustin/cs4550-hw01.git
[submodule "hw02"]
	path = hw02
	url = git@github.com:brianjaustin/cs4550-hw02.git
[submodule "hw03"]
	path = hw03
	url = git@github.com:brianjaustin/cs4550-hw03.git
[submodule "hw04"]
	path = hw04
	url = git@github.com:brianjaustin/cs4550-hw04.git
